<p id="notice"><%= notice %></p>

<p>
  <strong>Impuesto:</strong>
  <%= @tax.impuesto %>
</p>

<p>
  <strong>Importe:</strong>
  <%= @tax.importe %>
</p>

<p>
  <strong>Cm:</strong>
  <%= @tax.cm %>
</p>

<p>
  <strong>Default vencimiento0:</strong>
  <%= @tax.default_vencimiento0 %>
</p>

<p>
  <strong>Default vencimiento1:</strong>
  <%= @tax.default_vencimiento1 %>
</p>

<p>
  <strong>Default vencimiento2:</strong>
  <%= @tax.default_vencimiento2 %>
</p>

<p>
  <strong>Default vencimiento3:</strong>
  <%= @tax.default_vencimiento3 %>
</p>

<p>
  <strong>Default vencimiento4:</strong>
  <%= @tax.default_vencimiento4 %>
</p>

<p>
  <strong>Default vencimiento5:</strong>
  <%= @tax.default_vencimiento5 %>
</p>

<p>
  <strong>Default vencimiento6:</strong>
  <%= @tax.default_vencimiento6 %>
</p>

<p>
  <strong>Default vencimiento7:</strong>
  <%= @tax.default_vencimiento7 %>
</p>

<p>
  <strong>Default vencimiento8:</strong>
  <%= @tax.default_vencimiento8 %>
</p>

<p>
  <strong>Default vencimiento9:</strong>
  <%= @tax.default_vencimiento9 %>
</p>

<%= link_to 'Edit', edit_tax_path(@tax) %> |
<%= link_to 'Back', taxes_path %>
